<%= form_for @photo, :url => photo_path(@photo) do |f| %>

  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= check_box_tag "destroy_pic", "1" %>Delete Picture
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

  <p>
    <%= link_to 'Back', photos_path %>
  </p>

<% end %>